body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../images/spiration_dark.png");
}

.container {
  flex: 1;
  margin: 0px 5% 0px 5%;
}

.navbar {
  background-color: dimgrey;
  margin-bottom: 20px;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-brand:hover {
  text-decoration: none;
  color: black;
}

#main-section {
  background: ivory;
  border-radius: 15px;
  height: 100%;
  padding: 2.5%;
}

#bioimage {
  border-radius: 15px;
  height: 200px;
  float: left;
  margin: 2.5%;
}

.img-thumbnail {
  border-radius: 15px;
  height: 200px;
  width: 200px;
}

#sidebar {
  background: ivory;
  border: solid 1px black;
  border-radius: 15px;
  padding: 2%;
  height: 15%;
}

.link {
  margin: auto;
}

.img-fluid {
  height: 80px;
  width: 80px;
}

footer {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background: black;
  color: white;
  text-align: center;
}
